page-reset-password {
    ion-app.ios [padding], ion-app.ios [padding], .scroll-content{
        padding: 16px 5px 0 0 !important; 
      } 
     
     .action{ 
        
          button{
              height: $buttonHeight !important;
        border-radius: 4px !important;
        font-size: $fontsizeButton !important;
        min-height: 30px;
        padding-top: 5px !important;
        font-weight: normal !important;
        
       }
    }
   .cancel{
    background: transparent !important;
    border-radius:4px;border:1px solid color($colors, borderColor);
    color:color($colors, font-color-secondary);
}

   input{
    width:100%;border-radius:4px;
    border:1px solid color($colors, borderColor);
    height:$selectHeight;padding:5px;font-size:$fontsizeTextarea;color:color($colors, font-color-primary);
    
   }
   .button-container{
    //   margin-top:7%;
   }
   .descLength{
    float:right;padding-top:10px;color:color($colors, font-color-secondary);
    font-size: $fontsizeDescLength;
   }
  .floatleft{
      float: left;
  }
   .customLabel{
    padding-bottom:10px;
    font-size:$fontsizeLabel !important;
    color:color($colors, font-color-primary);
    span{
        color: color($colors, font-color-secondary);
        position: relative;
        top: 1px;font-size:$fontsizeFixkey;
    }
  }
  textarea{
    width:100%;border-radius:4px;
    border:1px solid color($colors, borderColor);
    height:160px;padding:5px;font-size:$fontsizeTextarea;color:color($colors, font-color-secondary);
    
   }
   .can{
    margin-top: -51px;
    position: relative;
    margin-bottom: 0;
   }
}
