<!-- Generated template for the FooterComponent component -->
<!-- <ion-tabs class="tabs-icon-text" [color]="isAndroid ? 'royal' : 'primary'">
  <ion-tab tabIcon="water" tabTitle="Water" [root]="rootPage"></ion-tab>
  <ion-tab tabIcon="leaf" tabTitle="Life" [root]="rootPage"></ion-tab>
  <ion-tab tabIcon="flame" tabTitle="Fire" [root]="rootPage"></ion-tab>
  <ion-tab tabIcon="magnet" tabTitle="Force" [root]="rootPage"></ion-tab>
</ion-tabs> -->

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-row>
        <ion-col col-3 text-center>
          <button ion-button icon-right color="royal">
            <div>
              <div>
                <ion-icon name="home"></ion-icon>
                <br>
              </div>
              <label> HOME</label>
            </div>
          </button>
        </ion-col>
        <ion-col col-3 text-center>
          <button ion-button icon-right color="royal">
            <div>
              <div>
                <ion-icon name="home"></ion-icon>
                <br>
              </div>
              <label> ABOUT</label>
            </div>

          </button>
        </ion-col>
        <ion-col col-3 text-center>
          <button ion-button icon-right color="royal">
            <div>
              <div>
                <ion-icon name="home"></ion-icon>
                <br>
              </div>
              <label> PROFILE</label>
            </div>
          </button>
        </ion-col>
        <ion-col col-3 text-center>
          <button ion-button icon-right full color="royal">
            <div>
              <div>
                <ion-icon name="home"></ion-icon>
                <br>
              </div>
              <label> CONTACT</label>
            </div>
          </button>
        </ion-col>
      </ion-row>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>